.new-arrivals {padding:50px 0 80px 0; }
.new-arrivals #arrivals_slider {padding:50px 0 0 0;float:left; width:100%;}
.new-arrivals .inner-slide {width:100%; position:relative; float:left;  }
.new-arrivals .inner-slide .text {width:55%; float:left; padding:100px 0 0 0; text-align:center;  background:#f4f5f9; margin: 50px 0; min-height:529px; margin-right: -5%; position: relative; z-index: 8;}
.new-arrivals .inner-slide .icon {width:90px; height:90px; background:#fff; display:inline-block; -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); transform:rotate(-45deg); margin-bottom:62px; border:solid 1px #dddddd;}
.new-arrivals .inner-slide .icon span {-moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); -webkit-transform:rotate(45deg); transform:rotate(45deg); display:inline-block; width:100%; }
.new-arrivals .inner-slide .icon span img {width:auto;display:inline-block; }
.new-arrivals .inner-slide .name {display:block; width:100%; line-height:28px; text-align:center; font-size:18px; color:#000000; font-weight:600; padding-bottom:24px; position:relative; letter-spacing:1.4px;}
.new-arrivals .inner-slide .text .blog_title {text-align:left; padding:0px 20px; line-height:30px; font-size:16px; color:#333; text-align:left;}
.new-arrivals .inner-slide .text .blog_subtitle {text-align:left; padding:0px 20px; line-height:26px; font-size:14px; color:#666; text-align:left;}
.new-arrivals .inner-slide .name:after {position:absolute; bottom:0px; left:50%; width:40px; height:1px; background:#888888; margin-left:-20px; content:""; }
.new-arrivals .inner-slide p {display:inline-block; margin-top:23px; width:100%; max-width:100%; color:#333333; font-size:14px; line-height:24px;  min-height:139px; padding-bottom:10px; font-weight:normal;font-family: 'Source Sans Pro'; padding-left:15px; padding-right:15px; text-align:left;}
.new-arrivals .inner-slide .readBtn { width:145px; line-height:46px; font-size:12px; font-weight:600; text-transform:uppercase; display:inline-block; background:#ff7e00; border-bottom:solid 2px #c66c13; color:#fff; border-radius:3px; text-decoration:none; }
.new-arrivals .inner-slide .readBtn:hover {background:#c66c13;}
.new-arrivals .inner-slide .img {position:absolute; top:0px; right:0px; background-repeat:no-repeat; background-position:50% 50%; background-size:cover; width:50%; height:100%;}
.new-arrivals .inner-slide .img img {display:none; width:100%;}
.new-arrivals .carousel-indicators {position:absolute; bottom:70px; width:50%; text-align:center; margin:0px; left:0px; }
.new-arrivals .carousel-indicators li {width:10px; height:10px; background:#c6c7c9; margin:0 2px; border:none;}
.new-arrivals .carousel-indicators li.active {background:#999999; } 
.new-arrivals .carousel-indicators li:hover {background:#999999; } 