<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Allow Customer to <b>Sort</b> Product</h2>
        </div>
        <div>
           <p class='oe_mt32'>
                This Feature enables your website with awesome Sort Functionality.This feature helps Customer to Sort product according to its requirement.This feature can Enable/Disable from website view side.
           </p>
           <p class="oe_mt16">
                Customer can find the required Product very eazily.It Provide Effective experience to Customer.
           </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <div class="oe_span12">
            <h3 class="oe_slogan">Included Features:</h3>
        </div>
        <div class="row">
           <p class='oe_mt32'>
                <ul>
                    <li>Sort Product By Name in Ascending/Descending Order</li>
                    <li>Sort Product By Price in Ascending/Descending Order</li>
                    <li>Enabling/Disabling of Feature</li>
                    <li>Possible to Sort in List/Grid View</li>
                </ul>
           </p>
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Enable/Disable of Sorting Facility</h3>
        <div class="oe_span6">
          <p class='oe_mt32'>
            Admin can decide whether to provide Sorting Faclity to Customer or not.It is eazy to Enable and Disable Feature from UI side.
          </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="/website_product_sort/static/description/sort.png">
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Sorting Option</h3>
        <div class="oe_span6">
            <h5 class="oe_slogan">Grid View</h5>
          <img class="oe_picture oe_screenshot" src="/website_product_sort/static/description/sort_option.png">
        </div>
        <div class="oe_span6">
            <h5 class="oe_slogan">List View</h5>
            <img class="oe_picture oe_screenshot" src="/website_product_sort/static/description/sort_list.png">
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">View Currently selected Sort-by</h3>
        <div class="oe_span6">
          <p class='oe_mt32'>
            Customer can see the curently applied sort-by eazily and able to sort according to its requirement.
          </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="/website_product_sort/static/description/sort_highlight.png">
        </div>
   </div>
</section>

