<head>
  <style>
      .backgrounds{background-color:#fff; color:#0B80E6}
  </style>
</head>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Configuration to mandatory customer selection before payment</h2>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Configuration option to set the customer is required or not.
            </p>
        </div>
        <div class="oe_span6">
             <img class="oe_picture oe_screenshot" src="mandatory.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">It Alerts for the customer selection while Payment.</h2>
        </div>
        <div class="oe_span6">
             <img class="oe_picture oe_screenshot" src="customer1.png"/>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                This module is useful to keep mendatory customer selection in the Point Of Sale while Payment.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Alert on Payment</h2>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Alert on Payment method for Customer Selection.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img oe_centered">
                <img class="oe_picture oe_screenshot" src="alert.png">
            </div>
        </div>
    </div>
</section>