body {
  font-family: 'Signika', sans-serif;
}


/*.news-view .news-box {max-height:236px;}*/


a {
  color: #337ab7;
  text-decoration: none;
}

.oe_product {
  border:none !important;
  padding-left: 15px;
  padding-right: 15px;
}

@-moz-document url-prefix() {
  .oe_product .oe_product_cart {
    height: auto !important;
  }
  .content .product-view .product-box {
    margin-bottom: 30px !important;
    padding-bottom: 0px !important;
  }
}

.oe_product .product_price {
  position: inherit !important;
}

/*doc.css change*/
.content .facility-box {
  margin-top: 30px;
}
.content .product-view .product-box {
  padding-bottom: 30px;
  margin-bottom: 0px;
}
.content .product-view .product-box .cart-btn {
  padding-bottom: 14px;
}
.content .categorie-box {
  margin-top: 32px;
}
.breadcrumb {
  position: inherit;
}
.content .product-view .product-box .img {
  height: 173px;
}
.soppingCartView .cart-table .prodcut-img img {
  height: 119px;
}

header a.navbar-brand img {
    max-height: 70px;
}

.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none;
}

.content .product-view .product-box p {
  display: -webkit-box;
  height: 65px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nav-main.fiexd .nav-link  {padding-top:28px;}

.products_pager .btn {
  font-size:16px;
}

/*Change needed due to override of bootstrap btn class*/
.btn-link {
  background: transparent !important;
}

.banner .slider-nav .left-arrow {margin-top:-430px !important;}
.banner .slider-nav .right-arrow{margin-top:-430px !important;}

.content .categorie-box ul li.active a{
  background-color: #62a83d;
}

.content .categorie-box ul li.active a:hover {
  color: #62a83d;
  background-color: #eee;
}

.nav-main-header {
  position: inherit;
  background: rgba(98, 168, 61, 0.8);
  height: 96px;
  opacity: 1;
}

.nav-main-header-home {
  position: absolute;
}

/*Needed as carousel css conflict with slick lib css issue*/

.banner .slick-list {
  overflow: visible;
}

.banner a.left-arrow span {
  text-align: left !important;
}

.banner a.right-arrow span {
  text-align: right !important;
}

.banner .slick-track { 
  width: 1260px !important;
}

/*Needed as carousel css conflict with slick lib css issue*/


/*.nav-main-header-home .navbar-brand {
  display: none;
}*/

.nav-main-header-home.fiexd .navbar-brand {
  display: inherit;
}

.capitalize {text-transform: capitalize;}