/*.wk_horizontal_cart ul {
	margin-right: 10px;
	width: 80px;
	background-color: red;
	position: relative;
	top:100%;


}*/
.wk_horizontal_cart{
background-color: pink;
position: relative;
	top:50px;
	z-index: absolute;

}
.horizontal_category{
	padding:6px 12px;
	/*height: 40px;*/
}

.products_brands_filter{
    
    height: 150px;
    overflow-y: scroll;


}