<style>
.panel-title{
  font-family: 'Opensans' Sans-serif;  
  font-weight: 500;  
  font-size: 25px;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      height: auto;
   max-height: 300px;
  }
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
.alert{
    padding:8px;
    font-weight: 300;  
    font-size: 20px;
}

</style>
<section class="oe_container oe_dark lead">
    <section class="oe_container oe_dark lead">
        <h2><p class="text-primary text-center"><b>ODOO-Website Product Brand </b><br>
                        ODOO E-Commerce Plug-In For Brand  Based Differentiation Of Product</p></h2>
        <div class="oe_row">    
            <div class='oe_span12'>
                <div class="panel panel-primary" id="wkid0">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-mail-forward "></i> <b>Features</b></h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">                   
                            <li><i class="fa fa-check text-primary"></i> Provide Brand as  Identifier for your products.</li>                
                            <li><i class="fa fa-check text-primary"></i> Allows brand based Product differentiation.</li>
                            <li><i class="fa fa-check text-primary"></i> Support Search  option For Brand ,to get corresponding Products.</li>
                            <li><i class="fa fa-check text-primary"></i> User can Filter Product By Selecting Brands Form Attribute Filter Bar</li>
                            <li><i class="fa fa-check text-primary"></i> Brand Filtration also worked well with default attribute filter like Nike (brand)+ 8 No. Shoes</li>
                            <li><i class="fa fa-check text-primary"></i> Option to <b>Created and Managed the Brands</b> from the back panel.</li>
                            <li><i class="fa fa-check text-primary"></i> Your website user can use <b>Search Tab as well as Brand Filter Tab</b> to select your product's</li>
                            <li><i class="fa fa-check text-primary"></i> You can assign the brand to new created product as well all your previous store product's.</li>     
                            <li><i class="fa fa-check text-primary"></i> It's is compatible with all version of ODOO.</li> 
                            <li><i class="fa fa-check text-primary"></i> It's allow you to  assign brand to thousand of product on just one click,it's will save your time too. .</li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="oe_container oe_dark lead">        
<div class="oe_row">    
        <div class="panel panel-default panel-primary">
        <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-camera-retro "></i><b> Lets Have Quick View</b></h3>
        </div>
            <div class="panel-body">   
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1000">   
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>   
    <div class="carousel-inner" role="listbox">  
      <div class="item peopleCarouselImg active">
        <img src="odoo-website-product-brand-management-creation.jpg" alt="ODOO-Website-Product-Brand-Search-Filter-Creation">
        <div class="carousel-caption">
           <h2><p class="text-success"><b>Create/Chose Brand</b></p> </h2>          
        </div>
      </div>
    
      <div class="item peopleCarouselImg">
        <img src="odoo-website-product-brand-management-chose-product.png" alt="ODOO-Website-Prodcut-Brand-Search-Filter-Assignment-to-Product">
        <div class="carousel-caption">
          <h2> <p class="text-success"><b> Assign Brand </b></p> </h2>       
        </div>
      </div>
       <div class="item peopleCarouselImg">
        <img src="odoo-website-product-brand-management-produts-brand-filter.jpg" alt="ODOO-Website-Product-Brand-Filter">
        <div class="carousel-caption text-primary">
           <h2><p class="text-success"><b> Brand Based Filter </b></h2>          
        </div>
      </div>
       <div class="item peopleCarouselImg">
        <img src="odoo-website-product-brand-management-produts-brand-search.png" alt="ODOO-Website-Product-Brand-Search" >
        <div class="carousel-caption">
          <h2> <p class="text-success"><b>Brand Based Search</b></p> </h2>         
        </div>
      </div>  
      <div class="item peopleCarouselImg">
        <img src="odoo-website-product-brand-management-produts-group-by-brand.jpg" alt="ODOO-Website-Product-Brand-Group" >
        <div class="carousel-caption">
          <h2><p class="text-success"><b>Product  Group </b></p> </h2>         
        </div>
      </div>       
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <i class="fa fa-hand-o-left text-info"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control text-danger" href="#myCarousel" role="button" data-slide="next">
      <i class="fa fa-hand-o-right text-info"></i>
      <span class="sr-only">Next</span>
    </a>
    </div>
    </div>
    </div>  
  
    </div> 
</section>
    <section class="oe_container oe_dark lead">
    <div class="oe_row">    
        <div class='oe_span12'>
        <div class="panel panel-info" id="wkid1">
        <div class="panel-heading">
        <h3 class="panel-title"> <i class="fa fa-filter"></i><i class="fa fa-search "></i> <b>Website Product Brand Search/Filter </b></h3>
        </div>
            <div class="panel-body"><i>           
            <i> <p>Brand make considerable positive impact on  customer buying strategies.
                    As Products are build for performing  a function,to full fill the customer's needs, 
                        but BrandOffer an emotion,the customer don't fall in love with product they fall in love with brand.</p>
            <p> As a customer we always want to have the shop on just few clicks and pay money for branded products,
                    Website Product Brand's  is a module which offer Brand based Filtration and search for  ODOO e-commerce products.</p>  
             <p> Among many feature one important feature provided by this is module is that
                     it support filtration of both attribute as well brand simultaneously, 
                        thus at a same time the user can chose a brand and also filter Product attribute</p>
            <p>For Example if user want to by a Le-cooper(can be any brand) T-Shirt and 
                                also looking for specific size then both this filter can applied on same time, 
                                    thus these feature make this module essential for your E commerce Business and help you in gaining more and more sale.</p>
          
            </i> </div>
        </div>

        </div>
    </div>
    </section>
    <section class="oe_container oe_dark lead">
    <div class="oe_row">    
        <div class='oe_span12'>
        <div class="panel panel-success" id="wkid2">
        <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-cogs "></i> <b>Setup & Configure </b></h3>
        </div>   
            <div class="panel-body">
            <div class="alert alert-success"><i class="fa fa-arrow-circle-o-right"></i><b> Create  Brand</b></div>
           <p><i>After the successful installation of the Website Product Brand module 
                    you will be able to see the Product Brand menu under Sale --&gt; Configuration.</i></p>
            <p><i>Some Demo Brand are By default Provided in this module,
                    But as per your need you can create the Product Brand under Product Brand menu and</i>   </p>
            <p><img class="oe_picture oe_screenshot" src="odoo-website-product-brand-kanban-view.jpg" 
                        alt="oodoo-website-product-brand-management-produts-brand-filter"></p>
            <div class="alert alert-success"><i class="fa fa-arrow-circle-o-right"></i><b> Assign Brand to Multiple Products</b></div>
               <p><i>This module provide the feature of assigning multiple product to a brand on just one click .</i></p>
                <p><i>Some Demo Brand are By default Provided in this module,
                        But as per your need you can create the Product Brand under Product Brand menu.</i></p>
                <p><img class="oe_picture oe_screenshot" src="odoo-website-product-brand-management-creation.jpg" 
                        alt="oodoo-website-product-brand-management-produts-brand-filter">
                    <img class="oe_picture oe_screenshot" src="odoo-website-product-brand-management-chose-product.png" 
                        alt="oodoo-website-product-brand-management-produts-brand-filter">
                </p>

            </div>
        </div>
        </div>
    </div>
    </section>
    <section class="oe_container oe_dark lead">
        <div class="oe_row">    
            <div class='oe_span12'>
                <div class="panel panel-info" id="wkid3">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-desktop "></i><b> Website Front-End</b> </h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info"><i class="fa fa-filter"></i><b> Filter Brand Based Product's </b></div>
                        <p><i>On the website the user can filter the product with combination of attribute and brand.<i></p>
                        <p><img class="oe_picture oe_screenshot" src="odoo-website-product-brand-management-produts-brand-filter.jpg" 
                                        alt="oodoo-website-product-brand-management-produts-brand-filter"><p>
                        <div class="alert alert-info"><i class="fa fa-search"></i><b> Search the Brand's</b></div>
                        <p><i>This module also provide the search functionality of brand thus on website 
                                    a user can type the name of brand in search bar and get the product associate with that brand.<i></p>
                        <p>  <img class="oe_picture oe_screenshot" src="odoo-website-product-brand-management-produts-brand-search.png" 
                                    alt="oodoo-website-product-brand-management-produts-brand-filter"></p>
                    </div>
                </div>
            </div>  
        </div>
    </section> 
    <section class="oe_container oe_dark lead">
        <div class="oe_row">    
            <div class='oe_span12'>
            <div class="panel panel-success" id="wkid4">
            <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-desktop "></i><b> Web Back-End</b></h3>
            </div>   
                <div class="panel-body">
                <div class="alert alert-success"><i class="fa fa-sitemap"></i><b>Products Grouped By Brand</b></div>
               <p><i>In the Product menu the Admin can categorize the product based on their brand .</i></p>       
                <p> <img class="oe_picture oe_screenshot" src="odoo-website-product-brand-management-produts-group-by-brand.jpg" 
                            alt="oodoo-website-product-brand-management-produts-brand-filter"></p>
                <div class="alert alert-success"><i class="fa fa-random"></i><b>Product Brand Assignment</b></div>
                   <p><i>This module also  provide the feature of assigning individually brand to a product to the old as well as new product.</i></p>           
                    <p><img class="img-border img-responsive thumbnail" src="odoo-website-product-brand-management-assign-brand-to-product.png" 
                                    alt="oodoo-website-product-brand-management-produts-brand-filter">
                    </p>
                </div>
            </div>
            </div>
        </div>
    </section>
 </section>
<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="text-center"><a> Get Technical Help & Support</a></h2>
        </div>
        <br/>
        <div class="oe_slogan oe_spaced">                   
            <span><a data-toggle="tooltip" data-placement="bottom" title="Get Instant Help !" target="_blank" 
                        href="https://webkul.com/ticket/open.php"> <i class="fa fa-life-ring"></i> Help</a></span>            
            <span><a data-toggle="tooltip" data-placement="bottom"title="Get Instant Support!"target="_blank" 
                        href="https://webkul.com/ticket/open.php"><i class="fa fa-ticket"></i> Support</a></span>            
            <span><a data-toggle="tooltip" data-placement="bottom"title="Request Features now !"target="_blank" 
                        href="https://webkul.com/ticket/open.php"><i class="fa fa-check-circle"></i> Request Features</a></span>
        </div>
    </div>
</section>